.main-artist{
    margin: 0 7rem 1rem 7rem;
    p{ 
        text-align: start;
        margin-bottom: 1.5rem;
    }
}
.contianer-hero{
    img{
        filter: brightness(0.6);
        max-height: 40.625rem;
        object-fit: cover;
    }
    position:relative;
    margin-bottom: 2rem;
}
.artist-hero-title{
    color: $clr6;
    text-shadow: -1px -1px 3px $clr1;
    text-transform: uppercase;
    position: absolute;
    top: 35%;
    left: 40%;
    *{
        font-family: neuzeit;
        text-align: center;
    }
    h1{
        font-size: 60px;
    }

}
.artist-details{
    img{
        max-width: 40%;
        max-height: 21.875rem;
        margin: 0 3.125rem 0 1.25rem;
        object-fit: cover;
    }
    .text-description{
        margin-top: 1.5rem;
    }
        margin-bottom: 4rem;
}