*{
  box-sizing: border-box;
}

//FRAMES
.none-border{
  border: 10px solid rgb(255, 255, 255);
  border-image: none;
}
.dark{
  border: 35px solid rgb(255, 255, 255);
  border-image: url("../../assets/svg/1402636079.svg")  18% stretch;
}
.black{
  border: 30px solid rgb(243, 243, 245);
  border-image:  url("../../assets/svg/Black-Frame.svg")  18% stretch;
}
.bright{
  border: 35px solid rgb(255, 255, 255);
  border-image:  url("../../assets/svg/vintage.svg")  20% stretch;
}

//IMG
.container-img{
  position:relative;
  margin-left: .625rem;
}
.img1{
  box-shadow: 0 10px 6px -6px #777;
  height: 480px;
  margin-top: .6875rem;
}
.img2{
  box-shadow: 0 10px 6px -6px #777;
  position: absolute;
  max-width: 250px;
  max-height: 180px;
  left: 35px;
  top: 50px;
}
.img-details{
 max-height: 420px;
 margin-left: .625rem;
}

//LAYOUT
.main{
margin-left: 5rem;
margin-right: 3rem;
}
.radio-buttons, .art-details{
margin-bottom: 1.25rem;
}
.content-txt{
text-align: start;
max-width: 30%;
}
.details-modals{
  text-align: center;
}
.content-txt{
margin: 3.125rem 1.25rem 0 3.125rem;
}
.artist-list-details{
margin: 3.125rem 0 0 1.25rem;
}
.btn-back{
  margin-left: 1.25rem;
}

//WISHLIST MODAL
.img-wish{
  width: 5rem;
  height: 5rem;
}

//INPUT
// input[type=radio]:checked{
// background-color: $clr1;
// }
// input[type=radio]{
//   list-style-type: square;
//   background-color: #ffff;
// }
