*{
  box-sizing: border-box;
}

//FRAMES
.none-border{
  border: none;
  border-image: none;
}
.dark{
  border: 35px solid rgb(255, 255, 255);
  border-image: url("../../assets/svg/1402636079.svg")  18% stretch;
}
.black{
  border: 30px solid rgb(243, 243, 245);
  border-image:  url("../../assets/svg/Black-Frame.svg")  18% stretch;
}
.bright{
  border: 35px solid rgb(255, 255, 255);
  border-image:  url("../../assets/svg/vintage.svg")  20% stretch;
}

//IMG
.imgs{
  margin-top: 2rem;
}
.img-details{
  margin-left: .625rem;
  width: 50%;
 }
 .content-img{
   width: 50%;
 }
.img1{
  box-shadow: 0 10px 6px -6px #777;
  grid-area: 1/-1/-1/1;
}
.img2{
  box-shadow: -9px 9px 6px -6px #777;
  object-fit: cover;
  grid-area: 2/2/3/3;
  width: 100%;
  height: 70%;
}

//LAYOUT
.container-img{
  grid-area: 1/1/-1/1;
  display: grid;
  grid-template-columns: 1fr 5fr 4fr;
  grid-template-rows: 1fr 4fr 5fr;
}
.main{
margin-left: 5rem;
margin-right: 3rem;
}
.radio-buttons, .art-details{
margin-bottom: 1.25rem;
}
.details-modals{
  text-align: center;
}
.content-txt{
margin: 3.125rem 1.25rem 0 3.125rem;
text-align: start;
max-width: 25%;
}
.artist-list-details{
margin: 3.125rem 0 0 1.25rem;
}
.btn-back{
  margin-left: 1.25rem;
}

//WISHLIST MODAL
.img-wish{
  width: 5rem;
  height: 5rem;
}
