.home-section {
     width: 100%;
     margin-bottom: 20px;
     z-index: 1 ;
     align-items: center;
     justify-content: center;
     display: flex;
 
 }
 .hero-content{
     z-index: 2; 
 }
 .home-section h2{
     text-align: center;
 }

 .carousel-container{
    position:relative;
    margin: auto;
    text-align: center;
    width: 100%;
}

.heros-container{
    width: 100%;
    object-fit: fill;
}

.Carousel-root-1 {
    margin: auto;
    object-fit: cover;
}
.main-hero-content{
    text-transform: uppercase;
    text-shadow: -1px -1px 3px $clr1;
    position: absolute;
    color: $clr6;
    z-index: 2;
    top: 35%;
    left: 30%;
    *{
        font-family: serif;
        text-align: center;
    }
    h1{
        font-size: 50px;
    }
}
