.art-preview {
    padding: .625rem;
    height: 18rem;
    background-color: $clr5;
    justify-content: space-around;
    img {
        object-fit: contain;
        width: 80%;
    }
}

.content-img-card:hover, .content-card:hover, .art-preview:hover{
    img{
    margin-top: 35px;
    width: 150px;
    transition: all 0.6s ease;
    transform: scale(1.3);
    box-shadow: 0 10px 6px -6px #777;
    }
}  
.art-preview:hover{
    .content-card{
        display: none;
    }
}
