.art-list {
    display: grid;
    width: 100%;
    gap: 0.625rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.art-list-title{
    margin-top: 10px;
}

/*.art-list-container{
    display: grid;
    text-align: center;
    grid-template-columns:
        minmax(2rem, 1fr)
        minmax(auto, $normal-breakpoint)
        minmax(2rem, 1fr);
        .art-list-title{
            margin-top: 10px;
            grid-area:  1/2/2/3;
        }
}

.art-list {
    display: grid;
    grid-area:  2/2/3/3;
    width: 100%;
    gap: 0.625rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 200px 1fr 200px;

}*/