// .main-container , .main-deshboard, .main-about ,.main-header, .main-toy-details{
.main-container,
.main-art-details {
    display: grid;
    font-size: small;
    height: 70vh;
    text-align: center;
    grid-template-columns:
        minmax(2rem, 1fr)
        minmax(auto, $normal-breakpoint)
        minmax(2rem, 1fr);

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 / -1;
        }
    }

    @include for-mobile-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $mobile-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-narrow-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $narrow-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-normal-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $normal-breakpoint)
            minmax(2rem, 1fr);
    }
    @include for-wide-layout {
        grid-template-columns:
            minmax(2rem, 1fr)
            minmax(auto, $wide-breakpoint)
            minmax(2rem, 1fr);
    }
}
.App {
    display: flex;
    flex-direction: column;
}

  
